<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime Reviews</title>
</head>
<body>
    
  <nav class="nav-extended text-shadow  orange lighten-1">
    <div class="nav-wrapper">
      <a href="{{url_for('get_Anime_list')}}" class="brand-logo">Anime Review</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="fas fa-bars">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Home</a></li>
         <li><a href="#"> Reviews </a></li>
          <li><a href="#">User Profile</a></li>
         <li><a href="#">Log in</a></li>
          <li><a href="#">Log out</a></li>
           <li><a href="#">Register</a></li> 
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
        <li><h4 classs="center-allgin light-blue-text text-darken-4"> Anime Review</h4></li>
        <li><a href="#">Home</a></li>
         <li><a href="#"> Reviews </a></li>
          <li><a href="#">User Profile</a></li>
         <li><a href="#">Log in</a></li>
          <li><a href="#">Log out</a></li>
           <li><a href="#">Register</a></li> 
  </ul>
           
 

</body>
</html>