<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime Reviews</title>
</head>
<body>
    <!--Navbar-->
    <nav class="nav-extended text-shadow dark-1">
    <div class="nav-wrapper">
    <a href="{{url_for('Anime_list')}}" class="logo">AnimeReviews</a>
    <ul class="Navigation">
            <li> <a href="{{url_for('Anime_list')}}">Home</a></li>
    
        </ul>    
     </div>  
</nav>

</body>
</html>